/* PARAMETRE PAGE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

body {
    background-color: #ffffff;
    color: #444;
    line-height: 1.6;
    width: 100%; /* Modifié de 100vw à 100% pour éviter les problèmes de débordement liés à la barre de défilement */
    height: 100vh;
    overflow-x: hidden; /* Ajouté pour masquer les débordements horizontaux */
}





/* HEADER */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(218, 188, 129, 0.7);
    padding: 10px 0;
    position: relative;
    z-index: 1;
    width: 100%;
}

.navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Positionnement du bouton burger */
#burgerMenu {
    background: none;
    border: none;
    color: #444;
    font-size: 1.5em;
    padding: 10px;
    z-index: 100; /* Au-dessus des autres éléments */
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100; /* Assurez-vous que le conteneur est bien au-dessus des autres éléments */
}

/* Affichage du menu mobile */
.menu-hidden {
    width: 200px; /* Ou toute autre largeur souhaitée pour votre menu */
    height: 100%;
    background-color: rgba(218, 188, 129, 0.7);
    overflow-y: auto;
    position: relative; /* Pour le positionnement du menu à l'intérieur du conteneur */
    display: none; /* Commence caché */
}

.menu-hidden a {
    color: rgb(0, 0, 0); /* Couleur du texte */
    padding: 15px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s ease-in-out; /* Transition douce pour l'effet de survol */
}

.menu-hidden a:hover, .menu-hidden a:focus {
    background-color: #c5a971; /* Une teinte plus foncée pour l'effet de survol */
    color: #ffffff; /* Change la couleur du texte pour assurer un contraste */
    cursor: pointer; /* Change le curseur pour indiquer un lien cliquable */
}

/* Lorsque le menu est ouvert, affichez-le */
.menu-hidden.active {
    display: block;
    background-color: #e5cb98;
}

/* Pour voir la croix du menuHidden */
#closeMenu {
    display: none; /* Cache la croix initialement */
    position: absolute;
    top: 10px;
    right: -40px; /* Ajustez selon le placement souhaité par rapport au menu */
    font-size: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    z-index: 101;
}

/* Logo centre */
.logo-center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Important pour positionner correctement le pseudo-élément */
    margin-right: -15%; /* Ajustez selon votre mise en page */
    margin-top: -5%;
}

.logo-center img {
    width: 70px;
    height: 50px;
    border-radius: 50%; /* Rend l'image du logo circulaire */
}

.logo-center::after {
    content: ""; /* Nécessaire pour que le pseudo-élément s'affiche */
    position: absolute;
    margin-top: -70%;
    width: 110px; /* La largeur du demi-cercle */
    height: 110px; /* La moitié de la hauteur totale souhaitée */
    background-color: white; /* Couleur du demi-cercle */
    border-bottom-left-radius: 50%; /* Arrondit le côté gauche du demi-cercle */
    border-bottom-right-radius: 50%; /* Arrondit le côté droit du demi-cercle */
    z-index: -1; /* S'assure que le demi-cercle ne passe pas au-dessus du logo */
}

/* Icônes à droite */
.icons-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons-right a {
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.iconHead {
    width: 20px;
    height: 20px;
    filter: invert(100%) saturate(2);
}


/* Menu déroulant */
/* Style for dropdown button */
.dropbtn {
    background: none;
    color: #444; /* Adjust the color to match your design */
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    width: 100%; /* Make the button expand the full width */
    text-align: left;
}

/* Dropdown container */
.dropdown {
    position: relative;
    display: block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9; /* Light grey background */
    min-width: 160px; /* Set a min-width if necessary */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Show the dropdown menu on click */
.dropdown .dropbtn:focus + .dropdown-content {
    display: block;
}


@media (min-width: 600px) {
    /* Styles pour tablettes et desktops */

    .navbar-mobile {
        height: 50px;
    }

    #burgerMenu {
        font-size: 1.8em;
        padding: 20px;
    }

    /* Affichage du menu mobile */
    .menu-hidden {
        width: 300px; /* Ou toute autre largeur souhaitée pour votre menu */
        height: 100%;
    }
    
    .menu-hidden a {
        font-size: 1.3em;
    }

    /* Logo centré */
    .logo-center {
        margin-right: 0px; /* Ajustez selon votre mise en page */
        margin-top: -1%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo-center img {
        width: 75px;
        height: 60px;
    }

    .logo-center::after {
        margin-top: -60%;
        width: 130px; /* La largeur du demi-cercle */
    }

    /* Icônes à droite */

    .icons-right {
        position: absolute;
        right: 2%;
        top: 0;
    }

    .icons-right a {
        margin: 0px 15px;
    }

    .iconHead {
        width: 25px;
        height: 25px;
        margin-top: 80%;
    }

}

@media (min-width: 1024px) {

    .navbar {
        justify-content: space-between;
    }

    .navbar-mobile {
        justify-content: space-between;
        height: 15vh;
    }

    .icons-right, .logo-center {
        position: static; /* Positionne les éléments sans contraintes absolues */
    }

    .icons-right {
        flex: 1;
        justify-content: flex-end;
        padding-right: 30px;
    }

    .logo-center {
        position: absolute; /* Position absolue permet un contrôle précis de la position */
        left: 50%; /* Positionne le logo à 10% du bord gauche, ajustez selon les besoins */
        top: 30%;
        transform: translateY(-50%); /* Ajuste parfaitement le logo au milieu verticalement */
        margin: 0; /* Annule toute marge externe appliquée précédemment */
    }

    .logo-center img {
        width: 90px;
        height: 80px;
    }

    .logo-center::after {
        width: 150px; /* La largeur du demi-cercle */
        height: 140px; /* La moitié de la hauteur totale souhaitée */
    }

    #burgerMenu {
        display: none; /* Cache le menu burger sur les grands écrans */
    }

    #closeMenu {
        display: none; /* Le bouton de fermeture n'est pas nécessaire sur desktop */
    }

    .menu-container {
        position: fixed;
        top: 12%;
        left: 8%; /* Correction pour alignement horizontal */
        right: 8%; /* Maintien d'un espacement symétrique des deux côtés */
        height: 40px;
        width: auto; /* Largeur automatique pour s'adapter au contenu */
        z-index: 1000; /* S'assure de la supériorité dans la pile de contexte */
    }

    .menu-hidden {
        display: flex; /* Utilise Flexbox pour la mise en page */
        justify-content: center; /* Centre les éléments horizontalement dans le conteneur */
        width: 100%; /* Utilise toute la largeur disponible */ 
        z-index: 1000; /* S'assure que le menu reste au-dessus des autres contenus */
        background-color: #00000000;
    }

    /* Assure que chaque lien dans le menu a suffisamment d'espace et est facile à cliquer */
    .menu-hidden a {
        color: #444(0, 0, 0); /* Couleur du texte */
        padding: 0px 3%; /* Padding pour augmenter la zone cliquable */
        text-decoration: none; /* Supprime le soulignement des liens */
        font-size: 1.5em; /* Augmente la taille du texte pour une meilleure lisibilité */

    }

    .menu-hidden a:hover, .menu-hidden a:focus {
        color: #ffffff; /* Couleur du texte au survol ou au focus */
    }

}

.blurred {
    filter: blur(10px);
    opacity: 0.8;
    pointer-events: none; /* Empêche les interactions avec les éléments flous */
}





/* FOOTER */

/* Format téléphone */
.footer {
    background-image: url(../img/fougere.png); /* Ajoutez votre image de fond */
    background-size: cover; /* Assure que l'image de fond couvre entièrement le footer */
    background-position: center; /* Centre l'image de fond */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-color: rgba(218, 188, 129, 0.7); /* Couleur de fond semi-transparente */
    background-blend-mode: overlay; /* Mode de fusion pour combiner l'image et la couleur */
    color: rgb(0, 0, 0); /* Couleur du texte pour une bonne visibilité sur fond foncé */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    width: 100%;
}


.infos {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    text-align: left;
    padding: 0 14px;
    font-size: 0.67rem;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer a {
    text-decoration: none;
    color: #444; /* Assure que les liens sont noirs */
}

.footer-section h4, .footer-section ul, .footer-section ul li {
    margin: 10px 0;
}

.footer-logo {
    width: 100%;
    margin-top: 50%;
    justify-content: center; /* Centrage du logo */
}

.footer-logo img {
    border-radius: 50%;
    width: 55px;
    height: 54px;
}

.footer .icon {
    width: 20px;  /* Taille spécifique pour les icônes */
    height: 20px; /* Assure que les icônes sont carrées */
    margin-right: 5px; /* Espacement à droite pour séparer l'icône du texte */
}

#copyrights {
    width: 100%;
    text-align: center;
    font-size: 0.55em;
    margin-top: 20px;
    order: 3;
}

/* Format tablette */
@media (min-width: 600px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 30px 50px;
    }

    .infos {
        width: 100%;
        justify-content: space-between;
    }

    .footer-section {
        flex: 1;
        text-align: left;
        padding: 0 30px;
    }

    .footer-logo {
        flex: 30%;
        justify-content: right;
        margin-top: 0; /* Ajustement de la marge */
    }

    .footer-logo img {
        width: 100px; /* Logo plus grand pour tablette et ordinateur */
        height: 100px;
    }

    .footer a, .footer-section h4, .footer-section ul, .footer-section ul li {
        font-size: 1.3rem;
    }

    .footer .icon {
        width: 30px;  /* Taille spécifique pour les icônes */
        height: 30px; /* Assure que les icônes sont carrées */
        margin-right: 5px; /* Espacement à droite pour séparer l'icône du texte */
    }

    #copyrights {
        width: 100%;
        text-align: center;
        font-size: 0.8em;
        margin-top: 20px;
        order: 3;
    }
}

/* Format ordinateur */
@media (min-width: 1024px) {
    .footer {
        padding: 40px 60px;
    }

    .footer-logo img {
        width: 130px; /* Logo plus grand pour tablette et ordinateur */
        height: 130px;
    }

    .footer-section {
        padding: 0 6%;
        margin-left: 2%;
    }

    .footer .icon {
        width: 40px;  /* Taille spécifique pour les icônes */
        height: 40px; /* Assure que les icônes sont carrées */
        margin-right: 5px; /* Espacement à droite pour séparer l'icône du texte */
    }

    .footer a, .footer-section h4, .footer-section ul, .footer-section ul li {
        font-size: 1.5rem;
    }

}





/* HOME */

/* Section intro */
.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin: 20px;
}

.intro img {
    max-width: 100%; /* Assure que l'image ne dépasse pas sa container */
    height: auto; /* Garde le ratio de l'image */
}

.intro p {
    font-size: 1.1em; /* Taille de texte adaptée */
    padding: 5px; /* Espacement autour du texte */
    max-width: 95%; /* Maximise la largeur du texte sans qu'il ne devienne trop large */
    margin-top: 20px; /* Espacement entre l'image et le texte */
}

/* Responsive design pour les tablettes */
@media (min-width: 600px) {
    .intro {
        justify-content: space-around; /* Distribue l'espace autour des éléments */
        padding: 40px;
    }

    .intro p {
        max-width: 95%; /* Augmente la largeur du texte pour utiliser plus d'espace disponible */
        font-size: 1.8em;
    }
}

/* Responsive design pour les écrans de bureau */
@media (min-width: 1024px) {
    .intro {
        padding: 60px;
    }

    .intro img {
        width: 50%; /* Taille fixe pour l'image sur grands écrans */
    }
}



/* Section catalogue */
.catalog {
    background-color: rgba(218, 188, 129, 0.7); /* Couleur de fond de la section */
    padding: 20px;
    text-align: center; /* Centre le texte et le contenu de manière horizontale */
    display: flex; /* Utilise Flexbox pour le layout de la section */
    flex-direction: column; /* Organise le contenu en colonne pour le titre et la grille */
    align-items: center; /* Centre les éléments verticalement */
}

.catalog h2 {
    margin-bottom: 20px; /* Espace entre le titre et la grille */
}

.cat-container {
    display: flex; /* Utilise Flexbox pour la disposition des éléments */
    flex-wrap: wrap; /* Permet le passage à la ligne des éléments .cat */
    justify-content: space-around; /* Répartit uniformément avec de l'espace autour */
    width: 100%; /* Utilise toute la largeur disponible */
}

.cat {
    margin: 10px; /* Espace autour de chaque .cat */
    flex-basis: 100%; /* Base pour le téléphone, un élément par ligne */
    text-align: center; /* Centre le contenu de .cat */
}

.cat img {
    width: 150px; /* Taille fixe pour les images */
    height: 150px; /* Hauteur égale à la largeur pour un aspect rond */
    border-radius: 50%; /* Rend l'image ronde */
    margin-bottom: 10px; /* Espace entre l'image et le bouton */
}

.cat button {
    background-color: #708090; /* Couleur gris ardoise clair pour le fond du bouton */
    border: none; /* Pas de bordure pour un look plus moderne */
    color: white; /* Texte en blanc pour contraste élevé */
    padding: 10px 20px;
    cursor: pointer; /* Indique que le bouton est cliquable */
    width: 65%; /* Utilise la largeur complète du conteneur .cat */
    text-transform: uppercase; /* Texte en majuscules pour un aspect plus formel */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Ombre portée pour un effet de profondeur */
    transition: all 0.3s ease; /* Transition douce pour les interactions */
    border-radius: 6px;
    font-size: 0.9em;
}

.cat button:hover {
    background-color: #56768C; /* Assombrir le bouton au survol pour un feedback visuel */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Ombre portée plus prononcée au survol */
}

.cat p {
    margin: 0; /* Enlève la marge par défaut du paragraphe */
}

.catalog a:link, .catalog a:visited {
    text-decoration: none;
    color: #ffffff; /* Exemple de couleur : gris ardoise clair */
}

.catalog a:hover, .catalog a:active {
    text-decoration: none;
    color: #ffffff; /* Exemple de couleur plus foncée au survol */
}

@media (min-width: 600px) {

    .cat-container {
        justify-content: center; /* Centre les .cat dans le conteneur */
    }
    
    .cat {
        flex-basis: calc(48% - 20px); /* Deux éléments par ligne, moins les marges */
    }
}

@media (min-width: 1024px) {

    .catalog {
        justify-content: space-evenly; /* Répartit l'espace de manière égale entre les éléments */
    }

    .cat {
        flex-basis: calc(25% - 20px); /* Quatre éléments par ligne, moins la valeur du gap */
    }

    .catalog h2 {
        font-size: 2em;
    }
}



/* Section verifs et paiements */
.icons {
    padding: 20px;
}

.verifs, .payments {
    display: flex;
    justify-content: space-around; /* Répartit l'espace de manière égale entre les éléments */
    align-items: center; /* Centre les éléments verticalement */
    margin-Top: 10%; /* Espacement entre 'verifs' et 'payments' */
    margin-bottom: 10%;
}

.verifs div, .payments div {
    flex: 1; /* Donne à chaque div une part égale de l'espace disponible */
    text-align: center; /* Centre le texte à l'intérieur de chaque div */
}

.verifs img, .payments img {
    width: 80px; /* Taille standardisée pour toutes les images */
    height: 80px; /* Hauteur égale à la largeur pour maintenir l'aspect ratio */
    margin-bottom: 10px; /* Espacement entre l'image et le texte en dessous */
}

.verifs p, .payments p {
    font-size: 0.8em; /* Taille de police appropriée pour la lisibilité */
    margin: 0px; /* Supprime les marges par défaut */
}

/* Media Query pour les tablettes (au moins 600px) */
@media (min-width: 600px) {
    .verifs div, .payments div {
        flex: 1 1 48%; /* Deux éléments par ligne sur tablettes */
    }

    .verifs img, .payments img {
        width: 100px; /* Taille ajustée pour les images */
        height: 100px;
    }

    .verifs p, .payments p {
        font-size: 1em; /* Taille de police appropriée pour la lisibilité */
    }
}

/* Media Query pour les ordinateurs (au moins 1024px) */
@media (min-width: 1024px) {
    .verifs div, .payments div {
        flex: 1 1 32%; /* Trois éléments par ligne sur les écrans larges */
    }

    .verifs img, .payments img {
        width: 120px; /* Taille plus grande pour les images */
        height: 120px;
    }

    .verifs p, .payments p {
        font-size: 1.3em; /* Police plus grande pour une meilleure lisibilité */
    }
}





/* TERMS */
.article {
    background-color: #ffffff;
    padding: 10%;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 1em;
}

.article h2 {
    color: #0056b3; /* Bleu plus foncé pour le titre h2 */
    text-align: center; /* Centrage du titre h2 */
    margin-bottom: 20px; /* Plus de marge en dessous du titre h2 */
}

.article h3 {
    color: #007acc; /* Bleu légèrement différent pour le titre h3 */
}

.article p {
    font-size: 16px;
    color: #444; /* Teinte plus foncée de gris pour le paragraphe */
    margin-bottom: 20px; /* Plus de marge en dessous des paragraphes */
}

.article h3, .article h4 {
    color: #007acc; /* Bleu légèrement différent pour le titre h3 et h4 */
    margin-top: 15px; /* Ajout d'espace au-dessus des titres h3 et h4 */
    margin-bottom: 10px; /* Ajout d'espace en dessous des titres h3 et h4 */
}

@media (min-width: 600px) {
    .article {
        font-size: 1.3em;
    }
}

@media (min-width: 1024px) {
    .article {
        font-size: 1.5em;
    }
}





/* LEGAL NOTICE */
.legal {
    background-color: #ffffff;
    padding: 10%;
    font-size: 1em;
}

.legal h2 {
    color: #0056b3; /* Bleu plus foncé pour le titre h2 */
    text-align: center; /* Centrage du titre h2 */
    margin-bottom: 20px; /* Plus de marge en dessous du titre h2 */
}

.legal p {
    font-size: 16px;
    color: #444; /* Teinte plus foncée de gris pour le paragraphe */
    margin-bottom: 20px; /* Plus de marge en dessous des paragraphes */
}

@media (min-width: 600px) {
    .legal {
        font-size: 1.3em;
    }
}

@media (min-width: 1024px) {
    .legal {
        font-size: 1.5em;
    }
}





/* CONTACT */
.contact-container {
    background-color: #ffffff;
    padding: 20px;
    margin: 50px auto;
    width: 90%; /* Ajustez en fonction de votre design */
    max-width: 600px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
}

.contact-container h2 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: #444;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

.submit-button {
    background-color: #708090;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #56768C;
}





/* BOUTIQUE */





/* LOGIN */
/* public/css/styles.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
}

.forms-container {
    width: 90%;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
}

.form-container {
    width: 45%;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #444;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #708090;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
    background-color: #56768C;
}
