/* PARAMETRE PAGE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

body {
    background-color: #f4f4f4;
    color: #000000;
    line-height: 1.6;
    width: 100vw;
    height: 100vh;
}




/* HEADER */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(218, 188, 129, 0.7);
    padding: 10px 0;
    position: relative;
    z-index: 1;
    width: 100%;
}

.navbar-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Positionnement du bouton burger */
#burgerMenu {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    padding: 10px;
    z-index: 100; /* Au-dessus des autres éléments */
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 100; /* Assurez-vous que le conteneur est bien au-dessus des autres éléments */
}

/* Affichage du menu mobile */
.menu-hidden {
    width: 200px; /* Ou toute autre largeur souhaitée pour votre menu */
    height: 100%;
    background-color: rgba(218, 188, 129, 0.7);
    overflow-y: auto;
    position: relative; /* Pour le positionnement du menu à l'intérieur du conteneur */
    display: none; /* Commence caché */
}

.menu-hidden a {
    color: rgb(0, 0, 0); /* Couleur du texte */
    padding: 15px;
    text-decoration: none;
    display: block;
    transition: background-color 0.2s ease-in-out; /* Transition douce pour l'effet de survol */
}

.menu-hidden a:hover, .menu-hidden a:focus {
    background-color: #c5a971; /* Une teinte plus foncée pour l'effet de survol */
    color: #ffffff; /* Change la couleur du texte pour assurer un contraste */
    cursor: pointer; /* Change le curseur pour indiquer un lien cliquable */
}

/* Lorsque le menu est ouvert, affichez-le */
.menu-hidden.active {
    display: block;
    background-color: #e5cb98;
}

/* Pour voir la croix du menuHidden */
#closeMenu {
    display: none; /* Cache la croix initialement */
    position: absolute;
    top: 10px;
    right: -40px; /* Ajustez selon le placement souhaité par rapport au menu */
    font-size: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    /* Assurez-vous que z-index est suffisamment élevé pour être au-dessus du menu */
    z-index: 101;
}

/* Logo centré */
.logo-center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Important pour positionner correctement le pseudo-élément */
    margin-right: -15%; /* Ajustez selon votre mise en page */
    margin-top: -5%;
}

.logo-center img {
    width: 70px;
    height: 50px;
    border-radius: 50%; /* Rend l'image du logo circulaire */
}

.logo-center::after {
    content: ""; /* Nécessaire pour que le pseudo-élément s'affiche */
    position: absolute;
    margin-top: -70%;
    width: 110px; /* La largeur du demi-cercle */
    height: 110px; /* La moitié de la hauteur totale souhaitée */
    background-color: white; /* Couleur du demi-cercle */
    border-bottom-left-radius: 50%; /* Arrondit le côté gauche du demi-cercle */
    border-bottom-right-radius: 50%; /* Arrondit le côté droit du demi-cercle */
    z-index: -1; /* S'assure que le demi-cercle ne passe pas au-dessus du logo */
}

/* Icônes à droite */

.icons-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons-right a {
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

.iconHead {
    width: 20px;
    height: 20px;
    filter: invert(100%) saturate(2);
}

@media (min-width: 600px) {
    /* Styles pour tablettes et desktops */
    .navbar-mobile {
        justify-content: center;
    }

    .icons-right {
        position: absolute;
        right: 0;
        top: 0;
    }

    .iconHead {
        width: 20px;
        height: 20px;
    }

    .logo-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .menu-hidden {
        display: flex;
        position: relative;
        background-color: transparent;
        width: auto;
        top: auto;
        left: auto;
        text-align: left;
    }

    .menu-hidden a {
        display: inline;
        padding: 10px 15px;
        border-top: none;
    }

    #burgerMenu {
        display: none;
    }
}

.blurred {
    filter: blur(4px);
    opacity: 0,3;
    pointer-events: none; /* Empêche les interactions avec les éléments floutés */
}




/* FOOTER */

/* Format téléphone */
.footer {
    background-image: url(../img/fougere.png); /* Ajoutez votre image de fond */
    background-size: cover; /* Assure que l'image de fond couvre entièrement le footer */
    background-position: center; /* Centre l'image de fond */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-color: rgba(218, 188, 129, 0.7); /* Couleur de fond semi-transparente */
    background-blend-mode: overlay; /* Mode de fusion pour combiner l'image et la couleur */
    color: rgb(0, 0, 0); /* Couleur du texte pour une bonne visibilité sur fond foncé */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    width: 100%;
}


.infos {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    text-align: left;
    padding: 0 14px;
    font-size: 0.65rem;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer a {
    text-decoration: none;
    color: black; /* Assure que les liens sont noirs */
}

.footer-section h4, .footer-section ul, .footer-section ul li {
    margin: 10px 0;
}

.footer-logo {
    width: 100%;
    margin-top: 50%;
    justify-content: center; /* Centrage du logo */
}

.footer-logo img {
    border-radius: 50%;
    max-width: 55px;
    height: 54px;
}

.footer .icon {
    width: 20px;  /* Taille spécifique pour les icônes */
    height: 20px; /* Assure que les icônes sont carrées */
    margin-right: 5px; /* Espacement à droite pour séparer l'icône du texte */
}

#copyrights {
    width: 100%;
    text-align: center;
    font-size: 0.55em;
    margin-top: 20px;
    order: 3;
}

/* Format tablette */
@media (min-width: 600px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        padding: 30px 50px;
    }

    .infos {
        width: 100%;
        justify-content: space-between;
    }

    .footer-section {
        flex: 1;
        text-align: left;
        padding: 0 30px;
    }

    .footer-logo {
        flex: 30%;
        justify-content: right;
        margin-top: 0; /* Ajustement de la marge */
    }

    .footer-logo img {
        width: 150%; /* Logo plus grand pour tablette et ordinateur */
    }

    .footer a, .footer-section h4, .footer-section ul, .footer-section ul li {
        font-size: 1.2rem;
    }
}

/* Format ordinateur */
@media (min-width: 1024px) {
    .footer {
        padding: 40px 60px;
    }

    .footer-logo img {
        width: 200%; /* Encore plus grand pour les grands écrans */
    }

    .footer-section {
        padding: 0 6%;
        margin-left: 2%;
    }

    .footer a, .footer-section h4, .footer-section ul, .footer-section ul li {
        font-size: 1.3rem;
    }
}
